@model CargarCarta.Controllers.CartaController.GestionArticulosViewModel

@{
    ViewData["Title"] = "Gestion Articulos";
}

<div class="container px-2 py-5">

    <h2 class="pb-2 border-bottom">Gestion Articulos</h2>
    <br />

    <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">

            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text">Ver</span>
            </h4>

            @if (Model.ArticuloTabla.Count() > 0)
            {
                <div class="card p-2">

                    <table class="table table-striped text-center" style="width:100%; overflow-x:auto;" id="tblArticulos" cellspacing="0">
                        <thead>
                            <tr class="text-center">
                                <th>ID</th>
                                <th>Nombre</th>
                                <th class="fixed-column">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var articulo in Model.ArticuloTabla)
                            {
                                <tr data-id="@articulo.IdArticulo">
                                    <td>@Html.DisplayFor(m => articulo.Nombre)</td>
                                    <td class="nombre-articulo">@Html.DisplayFor(m => articulo.Nombre)</td>
                                    <td class="fixed-column">
                                        <div class="btn-group">
                                            <a class="btn btn-outline-primary btn-sm edit-btn-articulo" data-id="@articulo.IdArticulo" data-name="@articulo.Nombre"><svg width="16" height="16"><use href="#icono-editar" /></svg></a>
                                            <a class="btn btn-outline-danger btn-sm delete-btn-articulo" data-id="@articulo.IdArticulo" data-name="@articulo.Nombre"><svg width="16" height="16"><use href="#icono-eliminar" /></svg></a>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3"> <strong>Ultimos 5 articulos cargados</strong></td>
                            </tr>
                        </tfoot>

                    </table>

                </div> <br />
            }
            else
            {
                <br />
                <h4 class="text-center">Sin resultados aún</h4>
            }

            <div class="card p-2">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#miModal">Ver todos</button>
            </div>
        </div>

        <div class="col-md-7 col-lg-8">

            <h4 class="mb-3">Cargar</h4>

            <form id="myForm" asp-action="CargarArticulo" method="POST">
                <div class="row g-3">

                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">Nombre</label>
                        <input asp-for="Articulo.Nombre" type="text" class="form-control" id="nombreArticulo" required>
                        <label id="yaExiste" class="text-danger" style="display: none;">Ya existe subrubro con ese nombre y rubro!</label>
                    </div>

                    <div class="col-sm-3">
                        <label for="username" class="form-label">Precio</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text">$</span>
                            <input asp-for="Articulo.Precio" type="text" class="form-control" id="precioArticulo" required>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <label for="address" class="form-label">Puntos <span class="text-body-secondary">(Opcional)</span></label>
                        <input asp-for="Articulo.Puntos" type="text" class="form-control" id="puntosArticulo" >
                    </div>


                    <div class="col-sm-6">
                        <label for="address" class="form-label">Subrubros</label>
                            @if (Model.SubrubroTabla != null)
                            {
                                <select asp-for="Articulo.IdSubrubro" asp-items="@(new SelectList(Model.SubrubroTabla, nameof(Subrubro.IdSubrubro), nameof(Subrubro.Nombre)))" class="form-select" aria-label="Default select example" required>
                                </select>
                            }
                            else
                            {
                                <p>No hay datos disponibles para el SelectList.</p>
                            }
                    </div>

                    <div class="col-sm-6">
                        <label for="address" class="form-label">Etiquetas <span class="text-body-secondary">(Opcional)</span></label>
                            @if (Model.EtiquetaTabla != null)
                            {
                                <select asp-for="ArtiEti.IdEtiqueta" asp-items="@(new SelectList(Model.EtiquetaTabla, nameof(Etiqueta.IdEtiqueta), nameof(Etiqueta.Nombre)))" class="form-select" aria-label="Default select example" required>
                                </select>
                            }
                            else
                            {
                                <p>No hay datos disponibles para el SelectList.</p>
                            }
                    </div>

                    <div class="col-12">
                        <label for="lastName" class="form-label">Descripcion</label>
                        <textarea asp-for="Articulo.Descripcion" type="text" class="form-control" id="descripcionArticulo" rows="3" required></textarea>
                    </div>

                    <div class="col-12">
                        <label for="email" class="form-label">Receta <span class="text-body-secondary">(Opcional)</span></label>
                        <textarea asp-for="Articulo.Receta" type="text" class="form-control" id="recetaArticulo" rows="3" required></textarea>
                    </div>

                    

                    <div class="col-md-6">
                        <label for="address2" class="form-label">Imagen <span class="text-body-secondary">(Opcional)</span></label>
                        <input asp-for="Articulo.Imagen" type="file" class="form-control" id="imagenArticulo">
                    </div>

                    <div class="col-md-6">
                        <label for="address2" class="form-label">Video <span class="text-body-secondary">(Opcional)</span></label>
                        <input asp-for="Articulo.Video" type="file" class="form-control" id="videoArticulo">
                    </div>

                    
                </div>

                <hr class="my-4">

                <h4 class="mb-3">Sucursales para el articulo</h4>
 

                <div class="col-12">
                    <label for="address" class="form-label">Sucursales</label>
                    @if (Model.SucursalTabla != null)
                    {
                        <select asp-for="ArtiSucu.IdSucursal" asp-items="@(new SelectList(Model.SucursalTabla, nameof(Sucursales.IdSucursal), nameof(Sucursales.Nombre)))" class="form-select" aria-label="Default select example" required>
                        </select>
                    }
                    else
                    {
                        <p>No hay datos disponibles para el SelectList.</p>
                    }    
                    <small class="text-body-secondary">
                        A la cual va a estar disponible
                    </small>
                </div>

                <br />


                <div class="row g-3">

                <div class="col-sm-9">
                    <label for="address" class="form-label">Sucursales con precio distinto <span class="text-body-secondary">(Opcional)</span></label>
                        @if (Model.SucursalTabla != null)
                        {
                            <select asp-for="ArtiSucu.IdSucursal" asp-items="@(new SelectList(Model.SucursalTabla, nameof(Sucursales.IdSucursal), nameof(Sucursales.Nombre)))" class="form-select" aria-label="Default select example" required>
                            </select>
                        }
                        else
                        {
                            <p>No hay datos disponibles para el SelectList.</p>
                        }
                    <small class="text-body-secondary">
                        
                    </small>
                </div>

                <div class="col-sm-3">
                    <label for="username" class="form-label">Precio</label>
                    <div class="input-group has-validation">
                        <span class="input-group-text">$</span>
                            <input asp-for="ArtiSucu.Precio" type="text" class="form-control" id="precioArticuloSucu">
                        </div>
                </div>

                </div>

                <hr class="my-4">

                <button class="w-100 btn btn-success btn-lg" id="myButton" type="submit">Guardar</button>
            </form>

        </div>

    </div>

</div>

<div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="miModalLabel">Mi modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
      </div>
      <div class="modal-body">
                <div class="table-responsive">


                @if (Model.ArticuloTabla.Count() > 0)
                {
                    <div class="p-2">

                        <table class="table table-striped text-center" id="tblArticulosCompleta" cellspacing="0">
                            <thead>
                                <tr class="text-center">
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Puntos</th>
                                    <th>Descripcion</th>
                                    <th>Receta</th>
                                    <th>Imagen</th>
                                    <th>Video</th>
                                    <th class="fixed-column">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var articulo in Model.ArticuloTabla)
                                {
                                    <tr data-id="@articulo.IdArticulo">
                                        <td>@Html.DisplayFor(m => articulo.Nombre)</td>
                                        <td class="nombre-articulo">@Html.DisplayFor(m => articulo.Nombre)</td>
                                        <td class="precio-articulo">@Html.DisplayFor(m => articulo.Precio)</td>
                                        <td class="puntos-articulo">@Html.DisplayFor(m => articulo.Puntos)</td>
                                        <td class="desc-articulo">@Html.DisplayFor(m => articulo.Descripcion)</td>
                                        <td class="receta-articulo">@Html.DisplayFor(m => articulo.Receta)</td>
                                        <td class="imagen-articulo">@Html.DisplayFor(m => articulo.Imagen)</td>
                                        <td class="video-articulo">@Html.DisplayFor(m => articulo.Video)</td>
                                        <td class="fixed-column">
                                            <div class="btn-group">
                                                <a class="btn btn-outline-primary btn-sm edit-btn-articulo" data-id="@articulo.IdArticulo" data-name="@articulo.Nombre"><svg width="16" height="16"><use href="#icono-editar" /></svg></a>
                                                <a class="btn btn-outline-danger btn-sm delete-btn-articulo" data-id="@articulo.IdArticulo" data-name="@articulo.Nombre"><svg width="16" height="16"><use href="#icono-eliminar" /></svg></a>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr class="text-center">
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Puntos</th>
                                    <th>Descripcion</th>
                                    <th>Receta</th>
                                    <th>Imagen</th>
                                    <th>Video</th>
                                    <th class="fixed-column">Acciones</th>
                                </tr>
                            </tfoot>

                        </table>

                    </div> <br />
                }
                else
                {
                    <br />
                    <h4 class="text-center">Sin resultados aún</h4>
                }
                </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<style>
    #tblArticulos {
        border: 2px solid #f2f2f2;
        margin-bottom: 0;
    }


    .dataTables_wrapper .dataTables_length label {
        display: flex;
        align-items: center;
        padding-top: 10px;
    }

    .dataTables_wrapper .dataTables_length select {
        margin: 10px; /* Agregar un margen izquierdo para separar "Mostrar" del select */
        width: 90px;
    }

    .dataTables_filter {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 10px;
    }

    .pagination {
        justify-content: flex-end;
    }

    .dataTables_info {
        padding: 10px;
    }
</style>

<script>
    $(document).ready(function () {
        inicializarTabla('#tblArticulosCompleta');
    });

    function inicializarTabla(tablaId) {
        var table = $(tablaId).DataTable({
            "order": [[0, "desc"]],
            "lengthMenu": [[50, 100, 500, -1], [50, 100, 500, 'Todos']
            ],
            "language": {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
                "infoFiltered": "(filtrado de _MAX_ entradas en total)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }
        });
    }

    // Carga --

    

</script>
