@model CargarCarta.Controllers.CartaController.GestionViewModel

@{
    ViewData["Title"] = "Gestion Rubros";
}

<div class="container px-2 py-5">
    <h2 class="pb-2 border-bottom">Gestion Rubros</h2>

    <div class="row g-5 py-5 row-cols-1 row-cols-lg-3">

        <div class="feature col-lg-3">
            <h3 class="fs-2 text-center">Rubros</h3>

            <form id="myForm" asp-action="CargarRubro" method="POST">

                <div class="col-sm-12">
                    <label for="Nombre" class="form-label">Nombre</label>
                    <input asp-for="Rubro.Nombre" type="text" class="form-control" id="nombreRubro" required>
                    <label id="yaExiste" class="text-danger" style="display: none;">Ya existe rubro con ese nombre!</label>
                </div>

                <br />

                <button id="myButton" type="submit" class="w-100 btn btn-lg" style="background-color: #0c8444; color: white;">
                    <span class="button-text">Guardar</span>
                    <span class="spinner-border" aria-hidden="true" style="display: none;"></span>
                </button>

            </form>

            <br /> <br />


            @if (Model.RubroTabla.Count() > 0)
            {
                <table class="table table-striped tblRubros" style="width:100%; overflow-x:auto;" id="tblRubros" cellspacing="0">
                    <thead>
                        <tr class="text-center">
                            <th>ID</th>
                            <th>Nombre</th>
                            <th class="fixed-column">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var rubro in Model.RubroTabla)
                        {
                            <tr data-id="@rubro.IdRubro">
                                <td>@Html.DisplayFor(m => rubro.IdRubro)</td>
                                <td class="nombre-rubro">@Html.DisplayFor(m => rubro.Nombre)</td>
                                <td class="fixed-column">
                                    <div class="btn-group">
                                        <a class="btn btn-outline-primary btn-sm edit-btn-rubro" data-id="@rubro.IdRubro" data-name="@rubro.Nombre"><svg width="16" height="16"><use href="#icono-editar" /></svg></a>
                                        <a class="btn btn-outline-danger btn-sm delete-btn-rubro" data-id="@rubro.IdRubro" data-name="@rubro.Nombre"><svg width="16" height="16"><use href="#icono-eliminar" /></svg></a>
                                    </div>
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            }
            else
            {
                <br />
                <h4 class="text-center">Sin resultados aún</h4>
            }

        </div>

        <!-- ------------------------------------------------------------------------------------- -->

        <div class="feature col-lg-6">
            <h3 class="fs-2 text-center">Subrubros</h3>

            <form id="myForm2" asp-action="CargarSubrubro" method="POST">

                <div class="row">
                    <div class="col-sm-6">
                        <label for="Nombre" class="form-label">Nombre</label>
                        <input asp-for="Subrubro.Nombre" type="text" class="form-control" id="nombreSubrubro" required>
                    </div>
                    <br />
                    <div class="col-sm-6">
                        <label for="Nombre" class="form-label">Rubro</label>
                        @if (Model.RubroTabla != null)
                        {
                            <select asp-for="Subrubro.IdRubro" asp-items="@(new SelectList(Model.RubroTabla, nameof(Rubro.IdRubro), nameof(Rubro.Nombre)))" class="form-select" aria-label="Default select example" required>
                            </select>
                        }
                        else
                        {
                            <p>No hay datos disponibles para el SelectList.</p>
                        }
                    </div>
                    <label id="yaExiste2" class="text-danger" style="display: none;">Ya existe subrubro con ese nombre y rubro!</label>

                </div>

                <br />

                <button id="myButton2" type="submit" class="w-100 btn btn-lg" style="background-color: #0c8444; color: white;">
                    <span class="button-text">Guardar</span>
                    <span class="spinner-border" aria-hidden="true" style="display: none;"></span>
                </button>

            </form>

            <br /> <br />


            @if (Model.SubrubroTabla.Count() > 0)
            {

                <table class="table table-striped text-center tblRubros" style="width:100%; overflow-x:auto;" id="tblSubRubros" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Rubro</th>
                            <th class="fixed-column">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var subrubro in Model.SubrubroTabla)
                        {
                            <tr data-id="@subrubro.IdSubrubro">
                                <td>@Html.DisplayFor(m => subrubro.IdSubrubro)</td>
                                <td class="nombre-subrubro">@Html.DisplayFor(m => subrubro.Nombre)</td>
                                <td class="rubro-etiqueta">@Html.DisplayFor(m => subrubro.oRubro.Nombre)</td>
                                <td class="fixed-column">
                                    <div class="btn-group">
                                        <a class="btn btn-outline-primary btn-sm edit-btn-subrubro" data-id="@subrubro.IdSubrubro" data-name="@subrubro.Nombre" data-rubro="@(subrubro.oRubro != null ? subrubro.oRubro.IdRubro : 0)"><svg width="16" height="16"><use href="#icono-editar" /></svg></a>
                                        <a class="btn btn-outline-danger btn-sm delete-btn-subrubro" data-id="@subrubro.IdSubrubro" data-name="@subrubro.Nombre"><svg width="16" height="16"><use href="#icono-eliminar" /></svg></a>
                                    </div>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            }
            else
            {
                <br />
                <h4 class="text-center">Sin resultados aún</h4>
            }

        </div>

        <!-- ------------------------------------------------------------------------------------- -->

        <div class="feature col-lg-3">
            <h3 class="fs-2 text-center">Etiquetas</h3>

            <form id="myForm3" asp-action="CargarEtiqueta" method="POST">

                <div class="col-sm-12">
                    <label for="Nombre" class="form-label">Nombre</label>
                    <input asp-for="Etiqueta.Nombre" type="text" class="form-control" id="nombreEtiqueta" required>
                    <label id="yaExiste3" class="text-danger" style="display: none;">Ya existe etiqueta con ese nombre!</label>

                </div>

                <br />

                <button id="myButton3" type="submit" class="w-100 btn btn-lg" style="background-color: #0c8444; color: white;">
                    <span class="button-text">Guardar</span>
                    <span class="spinner-border" aria-hidden="true" style="display: none;"></span>
                </button>

            </form>

            <br /> <br />


            @if (Model.EtiquetaTabla.Count() > 0)
            {
                <table class="table table-striped tblRubros" style="width:100%; overflow-x:auto;" id="tblEtiquetas" cellspacing="0">
                    <thead>
                        <tr class="text-center">
                            <th>ID</th>
                            <th>Nombre</th>
                            <th class="fixed-column">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var etiqueta in Model.EtiquetaTabla)
                        {
                            <tr data-id="@etiqueta.IdEtiqueta">
                                <td>@Html.DisplayFor(m => etiqueta.IdEtiqueta)</td>
                                <td class="nombre-etiqueta">@Html.DisplayFor(m => etiqueta.Nombre)</td>
                                <td class="fixed-column">
                                    <div class="btn-group">
                                        <a class="btn btn-outline-primary btn-sm edit-btn-etiqueta" data-id="@etiqueta.IdEtiqueta" data-name="@etiqueta.Nombre"><svg width="16" height="16"><use href="#icono-editar" /></svg></a>
                                        <a class="btn btn-outline-danger btn-sm delete-btn-etiqueta" data-id="@etiqueta.IdEtiqueta" data-name="@etiqueta.Nombre"><svg width="16" height="16"><use href="#icono-eliminar" /></svg></a>
                                    </div>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            }
            else
            {
                <br />
                <h4 class="text-center">Sin resultados aún</h4>
            }

        </div>

        <!-- ------------------------------------------------------------------------------------- -->

    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="confirmModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">¿Estás seguro de que deseas eliminar <label id="rubroName"></label>?</h5>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="editModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="confirm2">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>



    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast bg-white opacity-100" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill text-success" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg> &nbsp;
                <strong class="me-auto">¡Realizado!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Se creo <label id="rubroName3"></label> correctamente!
            </div>
        </div>
    </div>

</div>

<style>

    .row {
        display: flex;
    }

    .col-sm-12.col-md-5 {
        flex-grow: 1;
        text-align: center;
    }

    .col-sm-12.col-md-7 {
        display: none;
    }


    .dataTables_filter {
        text-align: center;
        padding: 5px;
    }

    #tblRubros {
        border: 1px solid #f2f2f2; /* Borde negro de 2 píxeles */
    }

    .fixed-column {
        position: sticky;
        right: 0;
        background-color: white;
    }

    .btn-group {
        display: flex;
    }

</style>

<script src="~/js/rubros.js" asp-append-version="true"></script>
