@model CargarCarta.Controllers.CartaController.GestionViewModel

@{
    ViewData["Title"] = "Gestion Rubros";
}

<div class="container px-2 py-5">
    <h2 class="pb-2 border-bottom">Gestion Rubros</h2>

    <div class="row g-5 py-5 row-cols-1 row-cols-lg-3">

        <div class="feature col-lg-3">
            <h3 class="fs-2 text-center">Rubros</h3>

            <form id="myForm" asp-action="CargarRubro" method="POST">

                <div class="col-sm-12">
                    <label for="Nombre" class="form-label">Nombre</label>
                    <input asp-for="Rubro.Nombre" type="text" class="form-control" id="nombreRubro" required>
                    <label id="yaExiste" class="text-danger" style="display: none;">Ya existe rubro con ese nombre!</label>
                </div>

                <br />

                <button id="myButton" type="submit" class="w-100 btn btn-lg" style="background-color: #0c8444; color: white;">
                    <span class="button-text">Guardar</span>
                    <span class="spinner-border" aria-hidden="true" style="display: none;"></span>
                </button>

            </form>

            <br /> <br />


                @if (Model.RubroTabla.Count() > 0)
                {
                    <table class="table table-striped text-center tblRubros" style="width:100%; overflow-x:auto;" id="tblRubros" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th style="width:140px;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var rubro in Model.RubroTabla)
                            {
                                <tr data-id="@rubro.IdRubro">
                                    <td>@Html.DisplayFor(m => rubro.IdRubro)</td>
                                    <td class="nombre-rubro">@Html.DisplayFor(m => rubro.Nombre)</td>
                                    <td>
                                        <a class="btn btn-outline-primary btn-sm edit-btn" data-id="@rubro.IdRubro" data-name="@rubro.Nombre">Editar</a>
                                        <a class="btn btn-outline-danger btn-sm delete-btn" data-id="@rubro.IdRubro" data-name="@rubro.Nombre">Borrar</a>
                                    </td>
                                </tr>
                            }

                        </tbody>

                    </table>
                }
                else
                {
                    <br />
                    <h4 class="text-center">Sin resultados aún</h4>
                }



        </div>

        <!-- ------------------------------------------------------------------------------------- -->

        <div class="feature col-lg-6">
            <h3 class="fs-2 text-center">Subrubros</h3>

            <form id="myForm2" asp-action="CargarSubrubro" method="POST">

                <div class="row">
                <div class="col-sm-6">
                    <label for="Nombre" class="form-label">Nombre</label>
                    <input asp-for="Subrubro.Nombre" type="text" class="form-control" required>
                </div>
                <br />
                <div class="col-sm-6">
                    <label for="Nombre" class="form-label">Rubro</label>
                    @if (Model.RubroTabla != null)
                    {
                        <select asp-for="Subrubro.IdRubro" asp-items="@(new SelectList(Model.RubroTabla, nameof(Rubro.IdRubro), nameof(Rubro.Nombre)))" class="form-select" aria-label="Default select example" required>
                        </select>
                    }
                    else
                    {
                        <p>No hay datos disponibles para el SelectList.</p>
                    }
                </div>
                </div>

                <br />

                <button id="myButton2" type="submit" class="w-100 btn btn-lg" style="background-color: #0c8444; color: white;">
                    <span class="button-text">Guardar</span>
                    <span class="spinner-border" aria-hidden="true" style="display: none;"></span>
                </button>

            </form>

            <br /> <br />

            <div class="table-responsive">

                @if (Model.SubrubroTabla.Count() > 0)
                {

                    <table class="table table-striped text-center tblRubros" style="width:100%; overflow-x:auto;" id="tblSubRubros" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Rubro</th>
                                <th style="width:140px;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var subrubro in Model.SubrubroTabla)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => subrubro.IdSubrubro)</td>
                                    <td>@Html.DisplayFor(m => subrubro.Nombre)</td>
                                    <td>@Html.DisplayFor(m => subrubro.oRubro.Nombre)</td>
                                    <td>
                                        <a class="btn btn-outline-primary btn-sm" asp-action="EditarSubrubro" asp-rout-item-id="@subrubro.IdSubrubro">Editar</a>
                                        <a class="btn btn-outline-danger btn-sm" asp-action="BorrarSubrubro" asp-rout-item-id="@subrubro.IdSubrubro">Borrar</a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <br />
                    <h4 class="text-center">Sin resultados aún</h4>
                }

            </div>

        </div>

        <!-- ------------------------------------------------------------------------------------- -->

        <div class="feature col-lg-3">
            <h3 class="fs-2 text-center">Etiquetas</h3>

            <form id="myForm3" asp-action="CargarEtiqueta" method="POST">


                <div class="col-sm-12">
                    <label for="Nombre" class="form-label">Nombre</label>
                    <input asp-for="Etiqueta.Nombre" type="text" class="form-control" required>
                </div>

                <br />

                <button id="myButton3" type="submit" class="w-100 btn btn-lg" style="background-color: #0c8444; color: white;">
                    <span class="button-text">Guardar</span>
                    <span class="spinner-border" aria-hidden="true" style="display: none;"></span>
                </button>

            </form>

            <br /> <br />

            <div class="table-responsive">

                @if (Model.EtiquetaTabla.Count() > 0)
                {
                    <table class="table table-striped text-center tblRubros" style="width:100%; overflow-x:auto;" id="tblEtiquetas" cellspacing="0">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th style="width:140px;">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var etiqueta in Model.EtiquetaTabla)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => etiqueta.IdEtiqueta)</td>
                                    <td>@Html.DisplayFor(m => etiqueta.Nombre)</td>
                                    <td>
                                        <a class="btn btn-outline-primary btn-sm" asp-action="EditarRubro" asp-rout-item-id="@etiqueta.IdEtiqueta">Editar</a>
                                        <a class="btn btn-outline-danger btn-sm" asp-action="BorrarRubro" asp-rout-item-id="@etiqueta.IdEtiqueta">Borrar</a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <br />
                    <h4 class="text-center">Sin resultados aún</h4>
                }


            </div>

        </div>

    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="confirmModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">¿Estás seguro de que deseas eliminar <label id="rubroName"></label>?</h5>
                </div>
                <div class="modal-body">
                    <p> Ten en cuenta que los subrubros quedarán sin rubro en caso de que este sea el suyo.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="confirm">Aceptar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="editModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Editar Rubro</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nombre" class="col-form-label">Nombre:</label>
                        <input type="text" class="form-control" id="rubroName2">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="confirm2">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast bg-white opacity-100" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill text-success" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                </svg> &nbsp;
                <strong class="me-auto">¡Realizado!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Se creo el rubro <strong><label id="rubroName3"></label></strong> correctamente!
            </div>
        </div>
    </div>

</div>

<style>

    .row {
        display: flex;
    }

    .col-sm-12.col-md-5 {
        flex-grow: 1;
        text-align: center;
    }

    .col-sm-12.col-md-7 {
        display: none;
    }


    .dataTables_filter {
        text-align: center;
        padding: 5px;
    }

    #tblRubros {
        border: 1px solid #f2f2f2; /* Borde negro de 2 píxeles */
    }
</style>


@section Scripts{

    <script>

        $(document).ready(function () {
            var table = $('.tblRubros').DataTable({
                "paging": false, // Desactiva la paginación
                "language": {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 a 0 de 0 Entradas",
                    "infoFiltered": "(filtrado de _MAX_ entradas en total)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar",
                    "zeroRecords": "Sin resultados encontrados"
                }
            });
        });

        //--

        $(document).ready(function () {
            var table = $('#tblRubros').DataTable(); // Inicializa DataTables

            $('#myForm').on('submit', function (e) {
                $('#myButton .button-text').hide();
                $('#myButton .spinner-border').show();
                $('#yaExiste').hide();

                e.preventDefault();

                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data.error) {
                            // Si hay un error, muestra el mensaje de error
                            $('#yaExiste').show();
                        } else {
                            // Si no hay un error, agrega el nuevo rubro a la tabla
                            var newRow = '<tr data-id="' + data.idRubro + '"><td>' + data.idRubro + '</td><td class="nombre-rubro">' + data.nombre + '</td><td><a class="btn btn-outline-primary btn-sm edit-btn" data-id="' + data.idRubro + '" data-name="' + data.nombre + '">Editar</a><a class="btn btn-outline-danger btn-sm delete-btn" data-id="' + data.idRubro + '" data-name="' + data.nombre + '">Borrar</a></td></tr>';

                            $('#tblRubros tbody').append(newRow);

                            // Actualiza DataTables
                            table.row.add($(newRow)).draw();

                            // Muestra el toast
                            $('#rubroName3').text(data.nombre);  // Actualiza el nombre del rubro en el toast
                            $('#liveToast').toast('show');  // Muestra el toast
                            $('#nombreRubro').val('');
                        }

                        $('#myButton .button-text').show();
                        $('#myButton .spinner-border').hide();
                    }
                });
            });
        });





        //--

        $(document).ready(function () {
            // Al hacer clic en el botón de editar, muestra el modal
            $(document).on('click', '.edit-btn', function () {
                var id = $(this).data('id');
                var name = $(this).data('name');
                $('#editModal').data('id', id).modal('show');
                $('#rubroName2').val(name);  // Actualiza el nombre del rubro en el modal
            });

            $(document).on('click', '#confirm2', function () {
                var id = $('#editModal').data('id');
                var newName = $('#rubroName2').val();  // Recoge el valor actualizado del campo #rubroName2
                $.ajax({
                    url: '/Carta/EditarRubro',
                    type: 'POST',
                    data: { IdRubro: id, Nombre: newName },
                    success: function () {
                        // Aquí puedes actualizar tu tabla para reflejar que el rubro ha sido editado

                        // Actualiza la fila correspondiente en la tabla
                        var fila = $('#tblRubros').find('tr[data-id="' + id + '"]');
                        fila.find('.nombre-rubro').text(newName);

                        // Actualiza los atributos de datos del botón de edición
                        var botonEditar = fila.find('.edit-btn');
                        botonEditar.data('name', newName);

                        // Muestra el icono de éxito en el modal
                        $('#editModal .modal-body').html('<div class="form-group text-center p-4"><svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="currentColor" class="bi bi-check-circle-fill text-success mx-auto " viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg> Editado correctamente!</div>');

                        // Espera 2 segundos y luego oculta el modal
                        setTimeout(function () {
                            $('#editModal').modal('hide');
                            // Restaura el contenido original del modal
                            $('#editModal .modal-body').html('<div class="form-group"><label for="nombre" class="col-form-label">Nombre:</label><input type="text" class="form-control" id="rubroName2"></div>');
                        }, 1000);
                    },
                    error: function () {
                        alert("Error al editar el rubro.");
                    }
                });
            });
        });


        //--

        $(document).ready(function () {
            var tabla = $('#tblRubros').DataTable();  // Inicializa la tabla con DataTables

            // Al hacer clic en el botón de borrar, muestra el modal
            $(document).on('click', '.delete-btn', function () {
                var id = $(this).data('id');
                var name = $(this).data('name');
                $('#confirmModal').data('id', id).modal('show');
                $('#rubroName').text("el rubro: " + name);  // Actualiza el nombre del rubro en el modal
            });

            // Al hacer clic en el botón "Aceptar" del modal, envía la solicitud de eliminación
            $('#confirm').click(function () {
                var id = $('#confirmModal').data('id');
                $.ajax({
                    url: '/Carta/BorrarRubro',
                    type: 'POST',
                    data: { IdRubro: id },
                    success: function () {
                        // Aquí puedes actualizar tu tabla para reflejar que el rubro ha sido borrado

                        // Elimina la fila correspondiente en la tabla
                        var fila = $('#tblRubros').find('tr[data-id="' + id + '"]');
                        tabla.row(fila).remove().draw();  // Elimina la fila de DataTables y redibuja la tabla

                        // Muestra el icono de éxito en el modal
                        $('#confirmModal .modal-body').html('<div class="form-group text-center p-4"><svg xmlns="http://www.w3.org/2000/svg" width="29" height="29" fill="currentColor" class="bi bi-check-circle-fill text-success mx-auto " viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg> Borrado correctamente!</div>');

                        // Espera 2 segundos y luego oculta el modal
                        setTimeout(function () {
                            $('#confirmModal').modal('hide');
                            // Restaura el contenido original del modal
                            $('#confirmModal .modal-body').html('<p> Ten en cuenta que los subrubros quedarán sin rubro en caso de que este sea el suyo.</p>');
                        }, 1000);
                    },
                    error: function () {
                        alert("Error al borrar el rubro.");
                    }
                });
            });
        });



    </script>
    }